#calculadora {
    background-color: #9b9b9b;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
}

#pantalla {
    background-color: #ffffff;
    box-sizing: border-box;
    flex: 1 1 20%;
    font-size: 5em;
    margin: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    padding-right: 10px;
    text-align: right;
    white-space: nowrap;

    transform: rotateY(180deg);
}

.teclado {
    display: flex;
    flex: 1 1 80%;
    flex-direction: column;
    margin: 15px;
}

.teclado .fila {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 20%;
    flex-direction: row;
    font-size: 5em;
}

.teclado .tecla {
    background-color: #ffffff;
    box-sizing: border-box;
    flex: 1 1 25%;
    margin: 2px;
    text-align: center;
}

.tecla:hover {
    background-color: #cdcdcd;
    cursor: pointer;
}
